:root {
  font-family: Calibri, Cantarell;
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  background-color: white;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent-color: rgb(0, 100, 0);
  --hover-shadow: rgba(0, 100, 0, 0.1) 0px 10px 15px -3px, rgba(0, 100, 0, 0.05) 0px 4px 6px -2px;
  --select-shadow: rgba(0, 100, 0, 0.4) 0px 0px 0px 2px, rgba(0, 100, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
    text-align: justify;
}


body {
  margin: 0;
  width: 100vw;
}

h1 {
  font-size: 6rem;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 3em;
  line-height: 1em;
  text-align: start;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: none;
  transition: border-color 0.25s;
  background-color: white;
  border-radius: 5px;
  color: var(--accent-color);
}
button:hover {
  box-shadow: var(--hover-shadow);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.active {
  background-color: var(--accent-color);
  color: white;
}
